*{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;

}
.container h1{
    font-family: calibri;
    font-size: 60px;
    color:#F72119;
    font-weight: 100;
}
.clock{
    border: 2px double rgb(247, 9, 9);
    box-shadow: 20px 20px 100px  rgba(255, 255, 255, 0.568);
    padding: 10px 20px;
    border-radius: 5px;
}